.nav > li > a {
    color: #ffffff;
    line-height: 60px;
    padding: 0 15px;
    &:hover, &:focus {
        background: none;
        color: #4f4f4f;
        i {
            color: #4f4f4f;
        }
    }
    i {
         color: #ffffff;
    }
}

footer {
    height: 60px;
    background: #ff4f00;
}