<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form>
                <input class="form-control" type="text" placeholder="Enter a username, skills..." name="query" [(ngModel)]="query" (keyup)="search()" />
            </form>

            <div *ngIf="leads">
                <h3 class="pull-right">Found: {{ leads.length}}</h3>
                <div class="clearfix"></div>

                <div *ngFor="let lead of leads">
                    <div class="list-group">
                        <a routerLink="/leads/{{lead._id}}" class="list-group-item">
                            <h4 class="list-group-item-heading">{{ lead.user }}</h4>
                            <p class="list-group-item-text pull-left">{{ lead.skills }}</p>
                            <a routerLink="/update/{{lead._id}}" class="pull-right">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>